<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width initial-scale=1 maximum-scale=1 user-scalable=no">
		<!-- Compiled and minified CSS -->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

  		<!-- Compiled and minified JavaScript -->
 		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
 		<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
		<title>Libreta de frink</title>
		<style>
		.titulo{
			font-family: 'Architects Daughter', cursive;
		}
		</style>
	</head>
	<body>
		<div class="container">
			{% block contenido %}
			{% endblock %}
		</div>
	</body>
</html>